@font-face {
    font-family: 'RussoOne';
    src: url('../assets/fonts/Russo_One/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto-Medium';
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  }

